*{
	margin:0px;
	padding:0px;
}

.bgimage{
	background-image: url('http://www.4usky.com/data/out/38/164323476-gift-wallpapers.jpg');
	background-size: 100% 110%;
	width: 100%;
	height: 100vh;
}

.menu{

	width: 100%;
	height: 100px;
	background-color:white;
}

.leftmenu{
	width: 20%;
	line-height: 100px;
	float: left;
        margin-top:-5px;
/*	background-color: yellow;*/
}

.leftmenu h4{
	padding-left: 70px;
	font-weight: bold;
	color: white;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
}


.rightmenu{
        margin-top:20px;
	width:70%;
	height: 100px;
	float: right;
/*	background-color: red; */
}

.rightmenu ul{
	margin-left: 200px;
}

.rightmenu ul li {
	font-family: 'Montserrat', sans-serif;
	display: inline-block;
	list-style: none;
	font-size: 15px;
	color:#00a79d;
	font-weight: bold;
	line-height: 100px;
	margin-left: 40px;
	text-transform: uppercase;

}

#fisrtlist{
	color:#ec5459;
}

.rightmenu ul li:hover{
	color: #ffc406;
}


.text{
	width: 100%;
	margin-top: 185px;
	text-transform: uppercase;
	text-align: center;
	color:black;
	}


.text h1{
	font-size:62px;
	color: black;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700px;
	margin:14px 0px;  
	border: 3px solid rgb(250, 250, 250);
}



#buttonone{
	background-color:transparent;
	border: none;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 40px;
	width: 150px;
	font-family: 'Montserrat', sans-serif;
	margin-top: 25px;
	border: 3px solid black;
}

